In [1]:
import pandas as pd

In [22]:
driver_data = {'ID':[],
               'Name':[]
              }
vehicle_data = {'ID': [],
                }

driver_df = pd.DataFrame(driver_data)
vehicle_df = pd.DataFrame(vehicle_data)
driver_df.to_csv('logs/Driver_data.csv')
vehicle_df.to_csv('logs/Vehicle_data.csv')

Empty DataFrame
Columns: [ID, Name]
Index: []

In [16]:
dd = {'ID':[],
               'Name':[]
              }
vd = {'ID': [],
                }

In [17]:
dd['ID'].append('1223456')
dd['Name'].append('Tyrel')

In [20]:
driver_df.append(pd.DataFrame(dd), ignore_index=True)

        ID   Name
0  1223456  Tyrel

In [13]:
dd

          ID     Name
0  [1223456]  [Tyrel]

In [23]:
def updateDriverList(report):
    """
    Args:
        Report: Dictionary with the pre-specified format of count_log.csv
            (Same header names) 
    """
    df_new = pd.DataFrame(report)
    df1 = pd.read_csv("logs/Driver_data.csv",index_col =  False)
    df = df1.append(df_new, ignore_index = True
          )
    df.to_csv("logs/Driver_data.csv", index = False)
    
def updateVehicleList(report):
    """
    Args:
        Report: Dictionary with the pre-specified format of count_log.csv
            (Same header names) 
    """
    df_new = pd.DataFrame(report)
    df1 = pd.read_csv("logs/Vehicle_data.csv",index_col =  False)
    df = df1.append(df_new, ignore_index = True
          )
    df.to_csv("logs/Vehicle_data.csv", index = False)